/* Border Template */

#borderContent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0077ff;
    z-index: 1;
}

#topContent>*{
    position: fixed;
    margin-top: 3%;
    padding: none;
}

#nameText{
    font-size: 2em;
    left: 5%; 
}

.page{
    font-size: 1.25em;
    top: 2%;
}

#page1{
    right: 45%;
}

#page2{
    right: 25%;
}

#page3{
    right: 5%;
}

a{
    text-decoration: none;
    color: inherit;
}

#borderWhiteRectangle{
    z-index: -2;
    position: fixed;
    width: 100%;
    height: 100%;
    left:0%;
    top:0%;
    background-color: white;
}

#mainContent{
    z-index: 0;
    overflow-y: scroll;

    size: fixed;
    width: 90%;
    height: 80%;

    position: fixed;
    top: 12.5%;
    left: 5%;

    background-color: white;
    
    border:#0077ff solid 2px;
}



/* Home Page */

#rightContainer{
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 70%;

    display: flex;
    align-items: center;

    background-color:#EEEEEE;
}

#introText{
    position: absolute;
    left: 5%;
    width: 90%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0077ff;
    line-height: 2.5em;
    font-size: 1.25em;
}

#leftContainer{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 30%;

    max-height: 100%;

    display: flex;
    flex-wrap: wrap;
}

#topRow{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#bottomRow{
    position: absolute;
    top: 40%;
    bottom: 0%;
    left: 0%;
    right: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.letters{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0077ff;
    font-size: 7em;
}
   


/* Contact Page */

#contactInfoContent{
    position: fixed;
    top: 20%;
    left: 20%;
    right: 20%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0077ff;
    line-height: 2.5em;
    font-size: 1.25em;
}


/* Resume */

#expandablePDF{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    border: none;
    margin: 0;
    padding: 0;

    overflow: hidden;

    z-index: 3;
    display: block;
}



/* Projects Page */

#projectsHeader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0077ff;

    position: absolute;
    top: 2%;
    left: 2%;
    right: 2%;

    font-size: 1em;
}

.projectsContent{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    position: absolute;
    top: 15%;
    left: 4%;
    right: 2%;
    padding-bottom: 2%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 2%;
} 

.pImage{
    object-fit: cover;
}

figure{
    height: 400px;
    width: 22.5%;
    overflow: hidden;
    position: relative;
    margin: 0%;

    display: flex;
    flex-wrap: wrap;

    object-fit: cover;
}

figcaption{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;

    display: flex;
    color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    background: rgba(255, 153, 0, 0);
    transition: all 0.15s linear;
}

figure:hover figcaption{
    background: rgba(255, 153, 0, 0.64);
    color: rgba(255, 255, 255, 1);
}



/* Project Subpages */

#projectDescription{
    position: absolute;
    left: 5%;
    top: 6%;
    width: 35%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#0077ff;
    line-height: 2.5em;
    font-size: 1.1em;
}

#backButton{
    position: absolute;
    left: 2%;
    top: 3%;

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#0077ff;
    opacity: 50%;
    font-size: 100%;
}

.imageDisplay{
    position: absolute;
    width: 50%;
    right: 2%;
    top: 10%;
}

#mainImage{
    max-width: 100%;
    max-height: 600px;
    object-fit: contain;
    justify-content: center;
}

#mainImage:hover{
    cursor: pointer;
}

.imageGallery{
    margin: auto;

    position: absolute;
    width: 100%;

    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    display: flex;
    flex-wrap: wrap;
}

.imageGallery>*{
    padding-left: 2px;
    width: 20%;
    max-height: 150px;
    min-height: 150px;
    object-fit: cover;

    box-sizing:border-box;
    border: solid 4px;
    border-color: #ffffff;
}

.imageGallery>*:hover{
    cursor: pointer;
}

#img1{
    border-color: #ff9900;
}

#imageWindow{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    max-height: 100%;

    border: none;
    margin: 0;
    padding: 0;

    background-color: #EEEEEE;

    overflow: hidden;

    z-index: 3;
    display: none;
}

#expandableImage{
    position: fixed;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 4;
    display: none;
}

#imageEscape{
    position: fixed;
    top: 10%;
    right: 1.5%;
    width: 200px;
    height: 100px;

    background-color: rgba(255, 255, 255, 0.5);
    color: black;

    z-index: 5;
    display: none;
}

#imageEscape:hover{
    cursor: pointer;
}

video{
    position: relative;
    max-width: 90%;
    left: 5%;
    padding-top: 10px;
}
